.root{
    -fx-background-image: url("backG.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;

}
.button{
    -fx-font-size: 18;
    -fx-font-weight: Bold 700;
    -fx-font-family: "Montserrat";
    -fx-background-color: transparent ;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-border-color: #ffffff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
}
.button:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #a733fd;
}


.text-field{
    -fx-font-size: 16;
    -fx-font-weight: Bold 700;
    -fx-font-family: "Montserrat";
    -fx-background-color: transparent ;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-border-color: #ffffff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 140px;
    -fx-pref-height: 20px;
}

